body {
    color: #000000;
    background-color: #BBDEFB;
}
.navbar-default {
  background-color: #87c5f8;
}
.jumbotron {
    min-width: 100%;
    height: 200px;
    background-color: #2196F3;
    margin-top: 50px;
}
.jumbotron h1 {
    color: #FFFFFF;
    margin: 10px;
    text-shadow: 2px 2px 3px #0D47A1;
}
.artists label {
  height: 10rem;
  margin-bottom: 1rem;
  white-space: normal;
  padding: 5px;
}
.genre label {
  margin-bottom: 1rem;
}
.btn-primary, label {
  background-color: #2196F3;
  border-radius: 0;
}
.btn-toolbar>.btn {
  margin-left: 0;
}
.genre-submit, .artist-submit {
  width: 10rem;
}
.artist-submit {
  width: 71px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
h2 {
    opacity: 0.87;
}
h3 {
  opacity: 0.54
}
.artistinfo, .quiz {
  text-align: center;
}
.lyricsDiv .glyphicon,
.next .glyphicon {
  font-size: 5rem;
}
.stats .glyphicon {
  font-size: 2rem;
  color: #2196F3;
}
.stats li {
  display: block;
  text-align: right;
}
.stats div {
  margin-right: 1.5rem;
}
.playbutton {
  margin-top: 4rem;
  color: green;
}
.lyricsDiv {
  margin-bottom: 2rem;
}
.next, .new-game {
  color: #2196F3;
  width: 50px;
}
.albumpic, .correct, .percentage, .singername {
  width: 300px;
}
.artists label {
  margin-left: 0 !important;
}
