body {
    color: #000000;
    background-color: #BBDEFB;
}
.jumbotron {
    min-width: 100%;
    height: 200px;
    background-color: #2196F3;
    margin-top: 50px;
}
.jumbotron h1 {
    color: #FFFFFF;
    margin: 10px;
    text-shadow: 2px 2px 3px #0D47A1;
}
.artists label {
  width: 30rem;
  height: 10rem;
  margin-bottom: 1rem;
  white-space: normal;
}
.artists {
  width: 61rem;
}
.genre label {
    width: 8rem;
}
.genre {
    width: 43rem;
}
.genre-submit, .artist-submit {
  width: 10rem;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
h2 {
    opacity: 0.87;
}
h3 {
  opacity: 0.54
}
.artistinfo, .quiz {
  text-align: center;
}
.glyphicon {
    font-size: 5rem;
    color: green;
}
.playbutton {
  margin-top: 4rem;
}
.lyricsDiv {
  margin-bottom: 2rem;
}
