<div class="col-xs-12 col-md-4 col-lg-4 col-lg-offset-4">
    <div class="next col-centered">
        <i class="glyphicon glyphicon-chevron-right next-button" aria-hidden="true"></i>
    </div>
</div>
