<div class="statusbar">
  <ul>
    <li><i class="glyphicon glyphicon-music" aria-hidden="true"></i></li>
    <li><i class="glyphicon glyphicon-arrow-down" aria-hidden="true"></i></li>
    <li><i class="glyphicon glyphicon-music" aria-hidden="true"></i></li>
    <li><i class="glyphicon glyphicon-arrow-down" aria-hidden="true"></i></li>
    <li><i class="glyphicon glyphicon-music" aria-hidden="true"></i></li>
    <li><i class="glyphicon glyphicon-arrow-down" aria-hidden="true"></i></li>
    <li><i class="glyphicon glyphicon-music" aria-hidden="true"></i></li>
    <li><i class="glyphicon glyphicon-arrow-down" aria-hidden="true"></i></li>
    <li><i class="glyphicon glyphicon-music" aria-hidden="true"></i></li>
  </ul>
</div>
